/*!
 * Custom rulesets
 */
div .img-credit {
    display: inline-block;
    font-size: 80%;
}
 
.home-pg-button:link, .home-pg-button:visited {
  background-color: white;
  color: black;
  border: 2px solid gray;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.home-pg-button:hover, .home-pg-button:active {
  background-color: gray;
  color: white;
}

.project-img-caption {
  font-size: 80%;
  font-style: italic;
  color:#777
}

/**
  * Picture slideshow CSS
  */
  /* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.slideshow-prev, .slideshow-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.slideshow-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-prev:hover, .slideshow-next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slideshow-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.slideshow-numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.slideshow-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .slideshow-dot:hover {
  background-color: #717171;
}

/* Fading animation */
.slideshow-fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes slideshow-fade {
  from {opacity: .4}
  to {opacity: 1}
}